@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-farm-50 text-farm-900 font-sans antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply bg-nature-500 text-white shadow-lg shadow-nature-200 hover:bg-nature-600 active:scale-95 transition-all;
  }
  .card {
    @apply bg-white rounded-2xl shadow-sm border border-farm-100;
  }
}
